# Olá, eu sou o Igor e vou responder a sua pergunta!

### Como transformar os 1.0 e 0.0 da minha coluna em 1 e 0 no Python?  

Ou melhor:

### Como transformar números decimais em inteiros no Python?

# Há diversas formas, mas a função que eu uso é **pandas.DataFrame.astype**

## Mas funções como essa têm um pulo do gato.
Vem que eu te mostro.

Primeiro vamos chamar o pandas com o apelido de pd.

In [1]:
import pandas as pd

Vou abrir uma tabela para usarmos como exemplo, e vou chamá-la de **nome**.

In [3]:
nome = pd.read_csv('nome_exemplo.csv')
nome

     PassengerId  Survived
0            892       0.0
1            893       1.0
2            894       0.0
3            895       0.0
4            896       1.0
..           ...       ...
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

[418 rows x 2 columns]

Repare que a coluna **Survived** é composta por **números decimais**.
Nosso objetivo é transformá-los em **números inteiros**.

Chamamos a função **pandas.DataFrame.dtypes** para ver que a coluna Survived é do tipo 'float64'.

In [4]:
nome.dtypes

PassengerId      int64
Survived       float64
dtype: object

Transformaremos em 'int64'. Chamamos a função...

In [10]:
nome.astype('int64')
nome

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

...e o resultado não muda!

## Aqui entra o pulo do gato!

### É necessário alterar o nome do seu DataFrame para gravar o resultado da função.

In [11]:
novo_nome = nome.astype('int64')
novo_nome

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

# Te ajudei?
Curta, Inscreva-se no canal e comenta!